.pollingIcon {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: rgba(0, 0, 0, .5);
}

.pollingIcon.pollingIconOn {
  display: block;
}

.pollingIcon .polling-checkmark {
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
}
